@{
    ViewData["Title"] = "Home Page";
}

<div class="text-block">
    <div class="img-block">
        <img class="rounded" src="~/img/family-at-home.png" alt="family-at-home" />
    </div>
    <div>
        <h1>Welcome</h1>
        <p>Check our movie list here: <a asp-controller="Movies" asp-action="Index">Movie List</a> </p>
    </div>
</div>
