@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h1>Welcome to Contoso University</h1>
</div>
<div class="container" id="home">
    <div class="text-container">
        <p>
            Our university was founded in 1985 in Pueblo, Colorado, to provide high-quality education,
            especially for those seeking a career in technology. Over the past four years, we invested
            in the modernization of our equipment, aiming to offer the most advanced technology to our students.
        </p>

        <p>
            In an increasingly competitive world, those who stand out in their fields are the ones
            who receive the highest salaries. Having this in mind, we increasingly seek to demand
            high performance and dedication from our students.
        </p>
        <p>
            We want to be participants in the most recent technological advances. We have a qualified,
            competent faculty composed of doctors and masters. We see the future of computer information
            technology with great optimism, and this motivates us to move forward with our educational goals.
        </p>
    </div>
    <img src="~/img/university.png" alt="university" />
</div>