@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="~/img/man_scripture_study.png" style="margin-bottom: .5em; border-radius: 2em; height: 300px;"/>
    <p>Make your scripture record here: <a asp-page="/ScriptureJournalMenu/Index">My scripture journal</a>.</p>
</div>
